body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: Helvetica, sans-serif;
}


h1 {
  color: rgb(40, 147, 235);
  display: block;
  font-size: 2.5em;
  margin-top: 2em;
  margin-bottom: 3em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.app {
  margin-left: 7em;
  margin-right: 4em;
}


.headers {
  color: rgb(40, 147, 235);
  font-size: 1.75em;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  display:inline-block;
}


.checkboxes {
  font-size: 1.25em;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.selectionbox {
  font-size: 0.85em;
}


.descriptions {
  font-size: 1.25em;
}



.textbox {
  font-size: 1.25em;
  line-height: 1.1;
  width: 4.0em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}



div{
    display: block;
}

button{
    display: block;
    margin: 20px auto;
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:2em 0.3em 0.3em 0;
    border-radius:1.2em;
    font-size: 1.25em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    background-color:rgb(40, 147, 235);
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.button1:hover{
  color:#000000;
  background-color:rgb(40, 147, 235);
  border:0.1em solid #000000;

}
@media all and (max-width:30em){
  a.button1{
    display:block;
    margin:0.4em auto;
  }
}




table {
  border-collapse: collapse;
}





#table {
    display: block;
    margin-top: 20px;
    margin-bottom: 3.0em;
    border-collapse: collapse;
}


th, td {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25em;
}

th {
  background-color: rgb(40, 147, 235);
  color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}




